@{
    ViewData["Title"] = "Editar";
}

@section Styles{
  <link rel="stylesheet" href="~/css/leaflet.css" />
  <link rel="stylesheet" href="~/css/editar.css" />
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
}

<div class="text-center">
    <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Editar</h1>
        <h2 class="masthead-subheading mb-0">#3F3R</h2>
        <a href="@Url.Action("Puestos","Home")" class="btn btn-primary btn-xl rounded-pill mt-5">Puestos de reciclado</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
  <table>
    <thead>   
      <tr> 
        <th>CP</th> 
        <th>Latitud</th> 
        <th>Longitud</th>
        <th>Localidad</th>
        <th>Plaza</th>
        <th>Direccion</th>              
      </tr> 
    </thead> 
    @foreach(var puesto in ViewBag.verPuestos) 
      {    
        <tr>  
          <td>@puesto.CP</td> 
          <td>@puesto.Latitud</td>
          <td>@puesto.Longitud</td>
          <td>@puesto.Localidad</td> 
          <td>@puesto.Plaza</td>
          <td>@puesto.Direccion</td>  
        </tr>   
      }
  </table> 
</div>

<div id="myMap"></div>

<h2>Agregar ubicación</h2>


<form method="POST" action="@Url.Action("Agregar", "AltaPuestos")">
  <div class="form-group">
    <label for="titulo">CP</label>
    <input type="text" class="form-control" name="cp">
    <label for="titulo">Latitud</label>
    <input type="text" class="form-control" name="latitud">
    <label for="titulo">Longitud</label>
    <input type="text" class="form-control" name="longitud">
  </div>
          
  <button type="submit" class="btn btn-dark">Guardar</button>
</form>

<h2>Editar</h2>

<form method="POST" action="@Url.Action("DoEdit", "AltaPuestos")">
  <div class="form-group">
    <label for="titulo">CP</label>
    <input type="text" class="form-control" name="cp">
    <label for="titulo">Latitud</label>
    <input type="text" class="form-control" name="latitud">
    <label for="titulo">Longitud</label>
    <input type="text" class="form-control" name="longitud">
  </div>
          
  <button type="submit" class="btn btn-dark">Editar</button>
</form>

<h2>Eliminar</h2>

<form method="POST" action="@Url.Action("Eliminar", "AltaPuestos")">
  <div class="form-group">
    <label for="titulo">CP</label>
    <input type="text" class="form-control" name="cp">
  </div>
          
  <button type="submit" class="btn btn-dark">Eliminar</button>
</form>

@section Scripts{
  <script src="~/js/leaflet.js"></script>
  <script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
    integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
    crossorigin=""></script>
     <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
    integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
    crossorigin=""></script>
  <script src="~/js/map.js"></script>   
}







