<p>
    Gracias @ViewBag.Nombre por contactarte con nosotros.
    Nos llego la siguiente consulta @ViewBag.Consulta 
    La respuesta será enviada al siguiente mail @ViewBag.Mail

    <h3 style="color:blue">
        @ViewBag.Mensaje
        </h3>

         <h3 style="color:blue">
        @ViewBag.Error
        </h3>

</p>